@media screen and (max-width:500px) {

    header{
        height: 20vh;
        display: flex;
        flex-direction: column;
    }

    header ul{
        width: 85vw;
        height: 5vh;
        display: flex;
    }

    header figure{
        width: 55vw;
        height: 10vh;
    }

    main{
        height: 70vh;
        align-items: flex-start;
    }

    .copo{
        display: none;
    }

    .informacoes{
        height: 50vh;
        width: 70vw;
        align-items: center;
    }

    main nav{
        display: none;
    }

    h1{
        font-size: 20px;
        text-align: center;
        white-space: inherit;
    }

    button{
        width: 45vw;
    }

    footer{
        text-align: center;
        height: 10vh;
        display: flex;
        justify-content: center;
    }

    footer nav{
        display: initial;
        display: flex;
        width: 35vw;
    }
    
    a{
        width: 15vw;
    }

}