@media screen and (max-width:500px) {

    header{
        height: 20vh;
        display: flex;
        flex-direction: column;
    }

    header ul{
        width: 85vw;
        height: 5vh;
        display: flex;
    }

    header figure{
        width: 55vw;
        height: 10vh;
    }

}