*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    border-bottom: solid 1px rgb(187, 186, 186);
}

header figure{
    width: 14vw;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 25vw;
    height: 13vh;
}

header li{
    font-size: 20px;
}

header h2{
    font-size: 24px;
}

@media screen and (max-width:500px) {
    body{
        background-color: rgb(82, 24, 24);
        color: white;
    }

    header{
        display: flex;
        justify-content: space-around;
        height: 20vh;
        border-bottom: 1px solid rgb(34, 33, 33);
    }

    header figure{
        display: flex;
        flex-direction:column;
    }

    header ul{
        display: flex;
        flex-direction: column;
    }
}


/* main section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */
