*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    border-bottom: solid 1px rgb(187, 186, 186);
}

header figure{
    width: 14vw;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header figure:hover{
    transform: scale(115%);
    cursor: pointer;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 25vw;
    height: 13vh;
}

header li{
    font-size: 20px;
}

header li:hover{
    transform: scale(115%);
    cursor: pointer;
}

header h2{
    font-size: 24px;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}

.informacoes{
    width: 35vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.copo:hover{
    transform: scale(95%);
}

h1{
    font-size: 36px;
    white-space: pre-line;
}

button{
    background-color:#FCA60F;
    height: 10vh;
    width: 18vw;
    border-radius: 5px;
    border: solid #FCA60F;
    color: white;
    font-size: 20px;
}

button:hover{
    transform: scale(115%);
    cursor: pointer;
}

main nav{
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
}

main a:hover{
    transform: scale(115%);
    cursor: pointer;
}

footer nav{
    display: none;
}


